.buslist-container {
  width: 90%;
  max-width: 600px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

.buslist-container h2 {
  text-align: center;
}

.bus-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
  background: #f9f9f9;
}

.bus-card h3 {
  margin: 0;
}

.select-btn {
  margin-top: 10px;
  background: #0d6efd;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.select-btn:hover {
  background: #004fb3;
}
