.home-container {
  font-family: Arial, sans-serif;
}

.navbar {
  width: 100%;
  padding: 15px 25px;
  background: #0d6efd;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

.hero-section {
  text-align: center;
  margin-top: 100px;
}

.hero-section h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero-section p {
  font-size: 18px;
  color: #555;
}

.search-btn {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: #0d6efd;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.search-btn:hover {
  background: #004fb3;
}
